*{
    /* background-image:url(../image/5.jpg) ; */
    background-image: url(../image/imageblog.png);
    width: 600px;
    margin: auto;
    padding: 20px;
    margin-left: 100px;
    
    
}