body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  background-color: #f4f4f4;
}

h2 {
  margin-bottom: 20px;
}

.form-container {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin: 5px;
  width: 200px;
}

button {
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

th {
  background-color: black;
  color: white;
}

.apply-status span {
  cursor: pointer;
  font-size: 20px;
}

.cross {
  color: red;
}

.tick {
  color: green;
}

button:hover {
  background-color: lightgray;
}
.btns {
  background-color: black;
  color: white;
}
